<style type='text/css'>

 html { 
      background: url(/assets/login.jpeg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
</style>


<!--
<div id="background">
    <img src="/assets/login.jpeg">
</div>
-->

    <div id="row">
        <h1>Login</h1>
        <div class="column_s">
            <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :username %><br>
            <%= f.text_field :username, class: 'form-control' %>

            <br><%= f.label :password %><br>
            <%= f.password_field :password, class: 'form-control' %>
                <br><br>
            <%= f.submit "Log in", class: "btn btn-primary" %><br>
            <% end %>

            <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
    </div>
