<div class="row">

  <div class="col-sm-8 col-sm-offset-2">
    <div class="white">
      <h1>Welcome
        <%= @user.username %> 
      </h1>
      
      <br/>
      <%= "Name: #{@user.name}" if @user.name %>  <br/>
      <strong>Likes:</strong>
      <%= @user.total_likes %>  <br/>
      <%= content_tag :h2, "You have uploaded #{@user.photos.count} photo(s)" %>  <br/>

      <% if !current_user.uploaded_today? %>
      <strong>Upload a photo today:</strong>
      <%= render 'photos/form'%>
      <%end%>

      <%= link_to 'Edit', edit_user_path(@user) %>
      <%= link_to 'Back to Photos', photos_path %>
    </div>
  </div>
</div>    

<div class="row">

  <div class="col-sm-8 col-sm-offset-2">
    <div class="white">

      <% current_user.photos.each do |p|%>
        <%= image_tag p.avatar_url, class: "explore-image" %>
      <%end%>

    </div>
  </div>
</div>
