<p>
  <strong>Username:</strong>
  <%= @user.username %> <br/>
      <strong>Name:</strong>

    <%= @user.name %>  <br/>
  <strong>Likes:</strong>

    <%= @user.total_likes %>  <br/>
  <strong>Password:</strong>

    <%= @user.password_digest %>  <br/>

</p>
    <%= @user.photos.count %>  <br/>


  <strong>Upload a photo today:</strong>
<%= render 'photos/form'%>

<% if !@user.photos.empty?%>
<%= link_to 'bla',photo_path(@user.id, @user.photos.first.id) %>
<%end%>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
<%= link_to "Logout", logout_path, method: "delete" %>