<%= form_for @photo, :html => {:multipart => true} do |f| %>
 
  <p>
    <%= f.file_field :avatar %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<div class="footer">
    <ul>
        <li><%= link_to "Logout", logout_path,  method: "delete" %></li>       
        <li><%= link_to 'Back', show_path %></li>
    </ul>
</div>

