<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<p>
  <strong>Body:</strong>
  <%= @photo.body %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @photo.vote %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
